@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

footer.footer{
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

p{
    font-family: $font-family-serif;
    font-size: 18px;
}

.nav-link {
    color: black;
}

.hero-scene {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/assets/picture/animaux-sauvages-fond.png); 
    background-size: cover;
    background-position: center;
    filter: brightness(0.3);
}

.hero-scene-content {
    min-height: calc(100vh - 300px);
    padding-bottom: 300px; 
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
